.header {
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
    &-nav {
        &__logo {
            img {
                min-width: 140px;
                min-height: 23px;
            }
            padding-right: 296px;
        }
        .burger {
            display: none;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        &__links {
            display: flex;
            gap: 60px;
            li a {
                @include font(400,20px);
                font-family: "Roboto", sans-serif;
                color: $gray;
            }
        }
        &__buttons {
            padding-left: 60px;
            display: flex;
            gap: 30px;
            
        }
    }
}