.sketchbook {
    .sketchbook-container {
        display: flex;
        padding-top: 90px;
        justify-content: center;
        column-gap: 30px;
    }
    .sketchbook-content {
        width: 350px;
        height: 124px;
        transform: translateY(50%);
        h1 {
            @include font(400, 40px);
            font-family: "Roboto", sans-serif;
            color: $gray;
        }
        p {
            @include font(400, 18px);
            font-family: "Roboto", sans-serif;
            color: $gray;
            padding-top: 8px;
            padding-bottom: 30px;
        }
        button {
            width: 255px;
            height: 70px;
            background: white;
            border: 1px solid #7875FE;
            @include font(400, 20px);
            font-family: "Roboto", sans-serif;
            color: #7875FE;
        }
    }
}